{% extends 'base.html' %}

{% block main %}

{% include 'flash_messages.html' %}

<h1>Profiles</h1>


<div class="container">

<div class="card " >
  <div class="row">
    <div class="col-md-4" style="padding-top:30px;padding-left:100px;padding-bottom:30px;">
      <img style="height:200px;width:200px" src="{{ url_for('static', filename="uploads/" + filename) }}" />
    </div>
    <div class="col-md-4">
      <div class="card-body" >
        <h5 class="card-title"> {{ firstname }} {{ lastname }} </h5>
        <p class="card-text"> {{ gender }} </p>
        <p class="card-text"> {{ location }} </p>
      </div>
    </div>
    <div class="col-md-4 " style="padding-top:70px">
      <button type="button"  class="btn-lg btn-primary" style="width:50%"> View Profile </button>
    </div>
  </div>
</div>
  </div>

  {{ users.firstname }}


{% endblock %}
