{% extends 'base.html' %}

{% block main %}


{% for user in users %}
<div class="grid-container">
  <div class="image-container">
  <img src=" {{url_for('static', filename = 'uploads/'+ user.filename)}} ">
  </div>
  <div class="user-info-container">
    <h4><b> {{user.first_name}} {{user.last_name}} </b> </h4>
    <p> <i class="fa fa-map-marker" aria-hidden="true"></i> {{user.location}} </p>
      <p> {{ user.dates }} </p>
  </div>
    <div>
        <h4> About Me</h4>
        <br/>
        <p> {{ user.bio }}</p>
    </div>
    <br/>

</div>
{% endfor %}


{% endblock %}